:root {
  // =========================================================================
  // COULEURS SÉMANTIQUES — Personnel Enseignant
  // =========================================================================

  // --- Genre ---
  --fm-hommes: var(--yellow-tournesol-main-731);
  --fm-femmes: var(--pink-tuile-main-556);

  // --- Statut (3 groupes) ---
  --fm-statut-ec: var(--blue-france-main-525);
  --fm-statut-titulaire: var(--green-emeraude-main-632);
  --fm-statut-non-permanent: var(--purple-glycine-main-494);

  // --- Catégories de personnel (5 types) ---
  --fm-cat-pr: var(--blue-france-main-525);
  --fm-cat-mcf: var(--green-emeraude-main-632);
  --fm-cat-2nd-degre: var(--yellow-moutarde-main-679);
  --fm-cat-autres-titulaires: var(--orange-terre-battue-main-645);
  --fm-cat-non-permanents: var(--purple-glycine-main-494);

  // --- Tranches d'âge ---
  --fm-age-35-et-moins: var(--green-bourgeon-main-640);
  --fm-age-36-45: var(--blue-cumulus-main-526);
  --fm-age-46-55: var(--yellow-tournesol-main-731);
  --fm-age-56-65: var(--orange-terre-battue-main-645);
  --fm-age-66-et-plus: var(--brown-caramel-main-648);
  --fm-age-35-et-moins-ec: var(--green-bourgeon-main-640);
  --fm-age-36-55-ec: var(--blue-cumulus-main-526);
  --fm-age-56-et-plus-ec: var(--orange-terre-battue-main-645);

  // --- Disciplines (9 grandes disciplines) ---
  --fm-disc-sciences: var(--blue-france-main-525);
  --fm-disc-droit: var(--purple-glycine-main-494);
  --fm-disc-lettres: var(--pink-tuile-main-556);
  --fm-disc-pharmacie: var(--green-menthe-main-548);
  --fm-disc-medecine: var(--green-emeraude-main-632);
  --fm-disc-odontologie: var(--blue-ecume-main-400);
  --fm-disc-grands-etab: var(--yellow-moutarde-main-679);
  --fm-disc-autres-sante: var(--orange-terre-battue-main-645);
  --fm-disc-non-specifiee: var(--brown-cafe-creme-main-782);

  --fm-indicateur: var(--blue-france-main-525);

  // --- Couleur background du tableau ---
  --fm-home: var(--green-archipel-975);

  --scale-1: var(--blue-france-main-525);
  --scale-2: var(--green-emeraude-main-632);
  --scale-3: var(--yellow-tournesol-main-731);
  --scale-4: var(--pink-tuile-main-556);
  --scale-5: var(--purple-glycine-main-494);
  --scale-6: var(--orange-terre-battue-main-645);
  --scale-7: var(--green-bourgeon-main-640);
  --scale-8: var(--blue-ecume-main-400);
  --scale-9: var(--brown-cafe-creme-main-782);
  --scale-10: var(--green-menthe-main-548);
  --scale-11: var(--blue-cumulus-main-526);
  --scale-12: var(--pink-macaron-main-689);
  --scale-13: var(--yellow-moutarde-main-679);
  --scale-14: var(--green-archipel-main-557);
}
