@use "./colors.scss";

.ep-styles {
  .callout-style-overview {
    background-image: linear-gradient(0deg, #233e41, #009099);
    background-color: var(--background-contrast-blue-ecume);
    border-radius: 8px;
  }

  .callout-style-positioning {
    background-image: linear-gradient(0deg, rgb(35, 62, 65), rgb(215, 85, 33));
    background-color: var(--background-contrast-pink-macaron);
    border-radius: 8px;
  }

  .callout-style {
    background-image: linear-gradient(0deg, rgb(100, 100, 100), rgb(0, 0, 0));
    background-color: var(--background-contrast-blue-ecume);
    padding: 16px;

    p{
      font-size: 0.9rem;
    }
  }

  .ep-bg1 {
    background-color: color-mix(in srgb, var(--background-contrast-blue-france-hover) 60%, transparent);
    padding: 16px;
  }

  .ep-bg2 {
    background-color: color-mix(in srgb, var(--background-contrast-blue-france-hover) 45%, transparent);
    padding: 16px;
  }

  .ep-bg3 {
    background-color: color-mix(in srgb, var(--background-contrast-blue-france-hover) 30%, transparent);
    padding: 16px;
  }

  .ep-bg4 {
    background-color: color-mix(in srgb, var(--background-contrast-blue-france-hover) 20%, transparent);
    padding: 16px;
  }

  .chart-container {
    position: relative; // Pour permettre le positionnement absolu du badge

    .chart-footer {
      font-size: 0.8rem;
      color: #6a6a6a;
    }

    .legend {
      font-size: 0.8rem;
    color: (--label-color);
    background-color: transparent;
    } 
  }

  // Badge réutilisable pour les graphiques
  .chart-badge {
    position: absolute;
    top: -25px;
    left: -12px;
    background-color: #003399;
    color: var(--text-default-grey);
    padding: 4px 12px;
    // border-radius: 4px;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 10;
    white-space: nowrap;
  }

  .chart-container--default {
    background-color: var(--background-contrast-blue-france);
    border: 1px solid var(--background-contrast-blue-france) !important;
    .chart-footer{
      background-color: var(--background-contrast-blue-france);
      padding: 8px;
    }
  }
}