// Fix pour que les blocs de code ne débordent pas
.fr-callout {
  code {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: inline-block;
    max-width: 100%;
  }

  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-x: auto;
    max-width: 100%;

    code {
      white-space: pre-wrap;
      word-wrap: break-word;
      overflow-wrap: break-word;
      display: block;
    }
  }
}

code {
  background-color: rgb(85, 102, 114);
  padding: .3rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem;
  border: 1px solid #535353;
  border-radius: 5px;
}

.components-list {
  li {
    margin-bottom: 1.5rem;
  }
}