:root {
  // =========================================================================
  // COULEURS SÉMANTIQUES — Outcomes (Devenir des étudiants)
  // =========================================================================
  --outcomes-l1: #869ece;
  --outcomes-l2: var(--blue-ecume-main-400);
  --outcomes-l3: var(--blue-france-main-525);

  --outcomes-lp: var(--green-archipel-main-557);

  --outcomes-m1: var(--green-emeraude-main-632);
  --outcomes-m2: #297254;

  --outcomes-sts: var(--red-marianne-main-472);
  --outcomes-iut: var(--pink-macaron-main-689);

  --outcomes-cpge: var(--purple-glycine-main-494);

  --outcomes-ecoles: var(--yellow-moutarde-main-679);

  --outcomes-sante: var(--pink-tuile-main-556);
  --outcomes-autres: var(--brown-cafe-creme-main-782);

  --outcomes-sortants-diplomes: var(--beige-gris-galet-main-702);
  --outcomes-sortants-non-diplomes: #6a6156;
}

// L1 — #869ece
// L2 — #465f9d
// L3 — #003189
// LP — #009099
// M1 — #00a95f
// M2 — #297254
// STS — #e1000f
// IUT — #e18b76
// CPGE — #a558a0
// Écoles — #c3992a
// Cursus santé — #ce614a
// Autres — #d1b781
// Sortants diplômés — #9c8d7e
// Sortants non-diplômés — #6a6156
