.fundings-datatable.fr-table.fr-table--sm {
  font-size: 0.75rem;

  th {
    font-size: 0.75rem;
    vertical-align: top;
    font-weight: 700;
    padding: 0.5rem;
  }

  th:nth-child(5) {
    min-width: 10rem;
  }

  td {
    font-size: 0.75rem;
    overflow: hidden;
  }
}

.fundings-datatable__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
  padding: 2px 4px;
}

.fundings-datatable_filter {
  min-height: unset;
  padding: 0;
  line-height: 1;
}

.fundings-datatable__input {
  height: 2rem;
  font-size: 0.75rem;
  width: 100%;
}

.fundings-datatable__select {
  height: 2rem;
  font-size: 0.75rem;
  width: 100%;
}

.fundings-datatable__page-size {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .fr-select {
    width: auto;
  }
}
