:root {
  // Funders
  --funder-anr: #4364ff;
  --funder-anr-dark: #738cff;
  --funder-horizon-2020: #8b7400;
  --funder-horizon-2020-dark: #ffd500;
  --funder-horizon-europe: #a06a00;
  --funder-horizon-europe-dark: #e39700;
  --funder-pia-anr: #021d9e;
  --funder-pia-anr-dark: #5b76fc;
  --funder-pia-hors-anr: #00828a;
  --funder-pia-hors-anr-dark: #009099;
}
