:root {
  // Funders
  --funder-anr: #738cff;
  --funder-horizon-2020: #ffd500;
  --funder-horizon-europe: #e39700;
  --funder-pia-anr: #3f5ffc;
  --funder-pia-hors-anr: #009099;
  // Instruments - ANR
  --instrument-prc-projets-de-recherche-collaborative: #e63946;
  --instrument-jcjc-jeunes-chercheurs-jeunes-chercheuses: #2196f3;
  --instrument-prce-projets-de-recherche-collaborative-entreprisespublic: #ff9800;
  --instrument-prci-projets-de-recherche-collaborative-international: #4caf50;
  --instrument-pepr: #9c27b0;
  --instrument-pepr-exploratoires: #3f51b5;
  --instrument-cma-formation-depl: #f44336;
  --instrument-prme-projets-de-recherche-monoquipe: #00bcd4;
  --instrument-ppr: #ff5722;
  --instrument-equipex: #009688;
  --instrument-rhu: #cddc39;
  --instrument-excellences-sesri: #795548;
  --instrument-eur: #e91e63;
  --instrument-maturation-prmaturation-mat: #00e5ff;
  --instrument-rd-valo-et-transfert-mat: #8bc34a;
  --instrument-asdesr: #ff6f00;
  --instrument-pui: #673ab7;
  --instrument-ncu: #26a69a;
  --instrument-cma-diagnostic-depl: #f06292;
  --instrument-sfri-gur: #aed6f1;
  --instrument-idex-isite-confirmes: #a5d6a7;
  --instrument-instituts-convergences: #ce93d8;
  --instrument-campus-connects-tip: #ffcc02;
  --instrument-soutien-au-dploiement-depl: #80cbc4;
  --instrument-efran: #ef9a9a;
  --instrument-idefin: #b0bec5;
  --instrument-piiec-depl: #ff7043;
  --instrument-hybridation: #5c6bc0;
  --instrument-ia-cluster: #66bb6a;
  --instrument-ides-gur: #ec407a;
  --instrument-ue-gur: #26c6da;
  --instrument-ihu-a: #d4e157;
  --instrument-inbs: #8d6e63;
  --instrument-dmoes-dem: #ab47bc;
  --instrument-shs: #29b6f6;
  --instrument-cmq-tip: #ff8a65;
  --instrument-terrinnov: #4db6ac;
  --instrument-orientation-tip: #dce775;
  --instrument-dfi-transfert-robotique-dem: #7e57c2;
  --instrument-ftap: #26a69a;
  --instrument-chaire-en-biosant-sesri: #ef5350;
  --instrument-tiers-lieux-dexprimentation-dem: #42a5f5;
  --instrument-valo-carnot: #ffa726;
  --instrument-eds-donnes-de-sant-mat: #9ccc65;
  --instrument-idex-isite-cltures: #ec407a;
  --instrument-cohortes: #00acc1;
  --instrument-bioclusters-sesri: #8d6e63;
  --instrument-grands-fonds-marins-dem: #7cb342;
  --instrument-dmonstrateurs-dem: #e53935;
  --instrument-satt: #1e88e5;
  --instrument-dune: #fb8c00;
  --instrument-disrupt-campus: #43a047;
  --instrument-sant-numrique-depl: #8e24aa;
  --instrument-ple-pilote-tip: #00acc1;
  --instrument-deffinum: #c0ca33;
  --instrument-ihu-b: #6d4c41;
  --instrument-mooc-tip: #d81b60;
  --instrument-financement-structurel-esr: #039be5;
  --instrument-recherche-risque: #f4511e;
  --instrument-equipex: #00897b;
  --instrument-choose-france-for-science: #fdd835;
  --instrument-irt: #5e35b1;
  --instrument-piom: #3949ab;
  --instrument-rsnr: #f06292;
  // Instruments - Europe
  --instrument-research-and-innovation-actions: #e63946;
  --instrument-marie-skodowskacurie-actions: #00bcd4;
  --instrument-erc-actions: #ff9800;
  --instrument-innovation-actions: #66bb6a;
  --instrument-coordination-and-support-actions: #9c27b0;
  --instrument-eic-actions: #002395;
  --instrument-cofund-actions: #ff5722;
  --instrument-framework-partnership-agreement: #3f51b5;
  --instrument-recognition-prize: #1b5e20;
  --instrument-precommercial-procurement: #009688;
}
