:root {
  --label-color: var(--text-action-high-grey);
  --women-color: #e18b76;
  --men-color: #efcb3a;
  --sciences-field-color: #6e445a;
  --fields-color: #a94645;
  --university-color: #9ef9be;
  --geo-color: #465f9d;
  --literature-human-sc-field-color: #c8aa39;
  --law-economics-field-color: #465f9d;
  --unspecified-field-color: #dddddd;
  --medecine-field-color: #297254;
  --pharmacy-field-color: #00a95f;
  --ondotologie-field-color: #9ef9be;
  --other-health-field-color: #6fe49d;
  --non-univ-field-color: #a94645;
  --green-tilleul-verveine-sun-418: #66673d;
  --green-bourgeon-sun-425: #447049;
  --green-emeraude-sun-425: #297254;
  --green-menthe-sun-373: #37635f;
  --green-archipel-sun-391: #006a6f;
  --blue-ecume-sun-247: #2f4077;
  --blue-cumulus-sun-368: #3558a2;
  --purple-glycine-sun-319: #6e445a;
  --green-bourgeon-main-640: #68a532;
  --blue-ecume-moon-675: #869ece;
  --orange-terre-battue-main-645: #e4794a;
  --pink-macaron-sun-406: #8d533e;
  --pink-tuile-sun-425: #a94645;
  --yellow-tournesol-sun-407: #716043;
  --yellow-moutarde-sun-348: #695240;
  --orange-terre-battue-sun-370: #755348;
  --brown-cafe-creme-sun-383: #685c48;
  --brown-caramel-sun-425: #845d48;
  --brown-opera-sun-395: #745b47;
  --beige-gris-galet-sun-407: #6a6156;
  --green-tilleul-verveine-975: #fef7da;
  --green-bourgeon-975: #e6feda;
  --green-emeraude-975: #e3fdeb;
  --green-menthe-975: #dffdf7;
  --green-archipel-975: #e5fbfd;
  --blue-ecume-975: #f4f6fe;
  --blue-cumulus-975: #f3f6fe;
  --purple-glycine-975: #fef3fd;
  --pink-macaron-975: #fef4f2;
  --pink-tuile-975: #fef4f3;
  --yellow-tournesol-975: #fef6e3;
  --yellow-moutarde-975: #fef5e8;
  --orange-terre-battue-975: #fef4f2;
  --brown-cafe-creme-975: #fbf6ed;
  --brown-caramel-975: #fbf5f2;
  --brown-opera-975: #fbf5f2;
  --beige-gris-galet-975: #f9f6f2;
  --green-tilleul-verveine-950: #fceeac;
  --green-bourgeon-950: #c9fcac;
  --green-emeraude-950: #c3fad5;
  --green-menthe-950: #bafaee;
  --green-archipel-950: #c7f6fc;
  --blue-ecume-950: #e9edfe;
  --blue-cumulus-950: #e6eefe;
  --purple-glycine-950: #fee7fc;
  --pink-macaron-950: #fee9e6;
  --pink-tuile-950: #fee9e7;
  --yellow-tournesol-950: #feecc2;
  --yellow-moutarde-950: #feebd0;
  --orange-terre-battue-950: #fee9e5;
  --brown-cafe-creme-950: #f7ecdb;
  --brown-caramel-950: #f7ebe5;
  --brown-opera-950: #f7ece4;
  --beige-gris-galet-950: #f3ede5;
  --green-tilleul-verveine-925: #fbe769;
  --green-bourgeon-925: #a9fb68;
  --green-emeraude-925: #9ef9be;
  --green-menthe-925: #8bf8e7;
  --green-archipel-925: #a6f2fa;
  --blue-ecume-925: #dee5fd;
  --blue-cumulus-925: #dae6fd;
  --purple-glycine-925: #fddbfa;
  --pink-macaron-925: #fddfda;
  --pink-tuile-925: #fddfdb;
  --yellow-tournesol-925: #fde39c;
  --yellow-moutarde-925: #fde2b5;
  --orange-terre-battue-925: #fddfd8;
  --brown-cafe-creme-925: #f4e3c7;
  --brown-caramel-925: #f3e2d9;
  --brown-opera-925: #f3e2d7;
  --beige-gris-galet-925: #eee4d9;
  --green-tilleul-verveine-850: #e2cf58;
  --green-bourgeon-850: #95e257;
  --green-emeraude-850: #6fe49d;
  --green-menthe-850: #73e0cf;
  --green-archipel-850: #60e0eb;
  --blue-ecume-850: #bfccfb;
  --blue-cumulus-850: #b6cffb;
  --purple-glycine-850: #fbb8f6;
  --pink-macaron-850: #fcc0b4;
  --pink-tuile-850: #fcbfb7;
  --yellow-tournesol-850: #efcb3a;
  --yellow-moutarde-850: #fcc63a;
  --orange-terre-battue-850: #fcc0b0;
  --brown-cafe-creme-850: #e7ca8e;
  --brown-caramel-850: #eac7b2;
  --brown-opera-850: #eac7ad;
  --beige-gris-galet-850: #e0cab0;

  // Palette - Continuous colors like rainbow 🌈
  --scale-0-color: var(--green-tilleul-verveine-main-707);
  --scale-1-color: var(--green-bourgeon-main-640);
  --scale-2-color: var(--green-emeraude-main-632);
  --scale-3-color: var(--green-menthe-main-548);
  --scale-4-color: var(--green-archipel-main-557);
  --scale-5-color: var(--blue-ecume-main-400);
  --scale-6-color: var(--blue-cumulus-main-526);
  --scale-7-color: var(--purple-glycine-main-494);
  --scale-8-color: var(--pink-macaron-main-689);
  --scale-9-color: var(--pink-tuile-main-556);
  --scale-10-color: var(--yellow-tournesol-main-731);
  --scale-11-color: var(--yellow-moutarde-main-679);
  --scale-12-color: var(--orange-terre-battue-main-645);
  --scale-13-color: var(--brown-cafe-creme-main-782);
  --scale-14-color: var(--brown-caramel-main-648);
  --scale-15-color: var(--brown-opera-main-680);
  --scale-16-color: var(--beige-gris-galet-main-702);
  --scale-17-color: var(--green-tilleul-verveine-sun-418);
  --scale-18-color: var(--green-bourgeon-sun-425);
  --scale-19-color: var(--green-emeraude-sun-425);
  --scale-20-color: var(--green-menthe-sun-373);
  --scale-21-color: var(--green-archipel-sun-391);
  --scale-22-color: var(--blue-ecume-sun-247);
  --scale-23-color: var(--blue-cumulus-sun-368);
  --scale-24-color: var(--purple-glycine-sun-319);
  --scale-25-color: var(--pink-macaron-sun-406);
  --scale-26-color: var(--pink-tuile-sun-425);
  --scale-27-color: var(--yellow-tournesol-sun-407);
  --scale-28-color: var(--yellow-moutarde-sun-348);
  --scale-29-color: var(--orange-terre-battue-sun-370);
  --scale-30-color: var(--brown-cafe-creme-sun-383);
  --scale-31-color: var(--brown-caramel-sun-425);
  --scale-32-color: var(--brown-opera-sun-395);
  --scale-33-color: var(--beige-gris-galet-sun-407);
  --scale-34-color: var(--green-tilleul-verveine-975);
  --scale-35-color: var(--green-bourgeon-975);
  --scale-36-color: var(--green-emeraude-975);
  --scale-37-color: var(--green-menthe-975);
  --scale-38-color: var(--green-archipel-975);
  --scale-39-color: var(--blue-ecume-975);
  --scale-40-color: var(--blue-cumulus-975);
  --scale-41-color: var(--purple-glycine-975);
  --scale-42-color: var(--pink-macaron-975);
  --scale-43-color: var(--pink-tuile-975);
  --scale-44-color: var(--yellow-tournesol-975);
  --scale-45-color: var(--yellow-moutarde-975);
  --scale-46-color: var(--orange-terre-battue-975);
  --scale-47-color: var(--brown-cafe-creme-975);
  --scale-48-color: var(--brown-caramel-975);
  --scale-49-color: var(--brown-opera-975);
  --scale-50-color: var(--beige-gris-galet-975);
  --scale-51-color: var(--green-tilleul-verveine-950);
  --scale-52-color: var(--green-bourgeon-950);
  --scale-53-color: var(--green-emeraude-950);
  --scale-54-color: var(--green-menthe-950);
  --scale-55-color: var(--green-archipel-950);
  --scale-56-color: var(--blue-ecume-950);
  --scale-57-color: var(--blue-cumulus-950);
  --scale-58-color: var(--purple-glycine-950);
  --scale-59-color: var(--pink-macaron-950);
  --scale-60-color: var(--pink-tuile-950);
  --scale-61-color: var(--yellow-tournesol-950);
  --scale-62-color: var(--yellow-moutarde-950);
  --scale-63-color: var(--orange-terre-battue-950);
  --scale-64-color: var(--brown-cafe-creme-950);
  --scale-65-color: var(--brown-caramel-950);
  --scale-66-color: var(--brown-opera-950);
  --scale-67-color: var(--beige-gris-galet-950);
  --scale-68-color: var(--green-tilleul-verveine-925);
  --scale-69-color: var(--green-bourgeon-925);
  --scale-70-color: var(--green-emeraude-925);
  --scale-71-color: var(--green-menthe-925);
  --scale-72-color: var(--green-archipel-925);
  --scale-73-color: var(--blue-ecume-925);
  --scale-74-color: var(--blue-cumulus-925);
  --scale-75-color: var(--purple-glycine-925);
  --scale-76-color: var(--pink-macaron-925);
  --scale-77-color: var(--pink-tuile-925);
  --scale-78-color: var(--yellow-tournesol-925);
  --scale-79-color: var(--yellow-moutarde-925);
  --scale-80-color: var(--orange-terre-battue-925);
  --scale-81-color: var(--brown-cafe-creme-925);
  --scale-82-color: var(--brown-caramel-925);
  --scale-83-color: var(--brown-opera-925);
  --scale-84-color: var(--beige-gris-galet-925);
  --scale-85-color: var(--green-tilleul-verveine-850);
  --scale-86-color: var(--green-bourgeon-850);
  --scale-87-color: var(--green-emeraude-850);
  --scale-88-color: var(--green-menthe-850);
  --scale-89-color: var(--green-archipel-850);
  --scale-90-color: var(--blue-ecume-850);
  --scale-91-color: var(--blue-cumulus-850);
  --scale-92-color: var(--purple-glycine-850);
  --scale-93-color: var(--pink-macaron-850);
  --scale-94-color: var(--pink-tuile-850);
  --scale-95-color: var(--yellow-tournesol-850);
  --scale-96-color: var(--yellow-moutarde-850);
  --scale-97-color: var(--orange-terre-battue-850);
  --scale-98-color: var(--brown-cafe-creme-850);
  --scale-99-color: var(--brown-caramel-850);
  --scale-100-color: var(--brown-opera-850);
  --scale-101-color: var(--beige-gris-galet-850);

  // Palette - Randomized colors 🎨
  --scale-randomized-0-color: var(--scale-6-color);
  // blue
  --scale-randomized-1-color: var(--scale-96-color);
  // yellow
  --scale-randomized-2-color: var(--scale-36-color);
  // green
  --scale-randomized-3-color: var(--scale-30-color);
  // brow
  --scale-randomized-4-color: var(--scale-60-color);
  // pink
  --scale-randomized-5-color: var(--scale-97-color);
  // orange
  --scale-randomized-6-color: var(--scale-7-color);
  // puple
  --scale-randomized-7-color: var(--scale-16-color);
  // beige
  --scale-randomized-8-color: var(--scale-40-color);
  // blue
  --scale-randomized-9-color: var(--scale-28-color);
  // yellow
  --scale-randomized-10-color: var(--scale-69-color);
  // green
  --scale-randomized-11-color: var(--scale-98-color);
  // brown
  --scale-randomized-12-color: var(--scale-9-color);
  // pink
  --scale-randomized-13-color: var(--scale-12-color);
  // orange
  --scale-randomized-14-color: var(--scale-92-color);
  // purple
  --scale-randomized-15-color: var(--scale-50-color);
  // beige
  --scale-randomized-16-color: var(--scale-22-color);
  // blue-
  --scale-randomized-17-color: var(--scale-62-color);
  --scale-randomized-18-color: var(--scale-19-color);
  --scale-randomized-19-color: var(--scale-15-color);
  --scale-randomized-20-color: var(--scale-25-color);
  --scale-randomized-21-color: var(--scale-29-color);
  --scale-randomized-22-color: var(--scale-24-color);
  --scale-randomized-23-color: var(--scale-33-color);
  --scale-randomized-24-color: var(--scale-90-color);
  --scale-randomized-25-color: var(--scale-95-color);
  --scale-randomized-26-color: var(--scale-87-color);
  --scale-randomized-27-color: var(--scale-47-color);
  --scale-randomized-28-color: var(--scale-8-color);
  --scale-randomized-29-color: var(--scale-46-color);
  --scale-randomized-30-color: var(--scale-41-color);
  --scale-randomized-31-color: var(--scale-101-color);
  --scale-randomized-32-color: var(--scale-23-color);
  --scale-randomized-33-color: var(--scale-11-color);
  --scale-randomized-34-color: var(--scale-2-color);
  --scale-randomized-35-color: var(--scale-31-color);
  --scale-randomized-36-color: var(--scale-26-color);
  --scale-randomized-37-color: var(--scale-80-color);
  --scale-randomized-38-color: var(--scale-75-color);
  --scale-randomized-39-color: var(--scale-84-color);
  --scale-randomized-40-color: var(--scale-5-color);
  --scale-randomized-41-color: var(--scale-10-color);
  --scale-randomized-42-color: var(--scale-89-color);
  --scale-randomized-43-color: var(--scale-14-color);
  --scale-randomized-44-color: var(--scale-93-color);
  --scale-randomized-45-color: var(--scale-63-color);
  --scale-randomized-46-color: var(--scale-58-color);
  --scale-randomized-47-color: var(--scale-67-color);
  --scale-randomized-48-color: var(--scale-20-color);
  --scale-randomized-49-color: var(--scale-91-color);
  --scale-randomized-50-color: var(--scale-68-color);
  --scale-randomized-51-color: var(--scale-78-color);
  --scale-randomized-52-color: var(--scale-1-color);
  --scale-randomized-53-color: var(--scale-100-color);
  --scale-randomized-54-color: var(--scale-70-color);
  --scale-randomized-55-color: var(--scale-43-color);
  --scale-randomized-56-color: var(--scale-32-color);
  --scale-randomized-57-color: var(--scale-4-color);
  --scale-randomized-58-color: var(--scale-74-color);
  --scale-randomized-59-color: var(--scale-0-color);
  --scale-randomized-60-color: var(--scale-79-color);
  --scale-randomized-61-color: var(--scale-86-color);
  --scale-randomized-62-color: var(--scale-13-color);
  --scale-randomized-63-color: var(--scale-71-color);
  --scale-randomized-64-color: var(--scale-94-color);
  --scale-randomized-65-color: var(--scale-82-color);
  --scale-randomized-66-color: var(--scale-21-color);
  --scale-randomized-67-color: var(--scale-73-color);
  --scale-randomized-68-color: var(--scale-17-color);
  --scale-randomized-69-color: var(--scale-61-color);
  --scale-randomized-70-color: var(--scale-85-color);
  --scale-randomized-71-color: var(--scale-81-color);
  --scale-randomized-72-color: var(--scale-88-color);
  --scale-randomized-73-color: var(--scale-77-color);
  --scale-randomized-74-color: var(--scale-99-color);
  --scale-randomized-75-color: var(--scale-52-color);
  --scale-randomized-76-color: var(--scale-57-color);
  --scale-randomized-77-color: var(--scale-18-color);
  --scale-randomized-78-color: var(--scale-27-color);
  --scale-randomized-79-color: var(--scale-51-color);
  --scale-randomized-80-color: var(--scale-64-color);
  --scale-randomized-81-color: var(--scale-3-color);
  --scale-randomized-82-color: var(--scale-76-color);
  --scale-randomized-83-color: var(--scale-48-color);
  --scale-randomized-84-color: var(--scale-72-color);
  --scale-randomized-85-color: var(--scale-56-color);
  --scale-randomized-86-color: var(--scale-53-color);
  --scale-randomized-87-color: var(--scale-45-color);
  --scale-randomized-88-color: var(--scale-54-color);
  --scale-randomized-89-color: var(--scale-65-color);
  --scale-randomized-90-color: var(--scale-34-color);
  --scale-randomized-91-color: var(--scale-42-color);
  --scale-randomized-92-color: var(--scale-83-color);
  --scale-randomized-93-color: var(--scale-38-color);
  --scale-randomized-94-color: var(--scale-39-color);
  --scale-randomized-95-color: var(--scale-35-color);
  --scale-randomized-96-color: var(--scale-44-color);
  --scale-randomized-97-color: var(--scale-55-color);
  --scale-randomized-98-color: var(--scale-66-color);
  --scale-randomized-99-color: var(--scale-37-color);
  --scale-randomized-100-color: var(--scale-59-color);
  --scale-randomized-101-color: var(--scale-49-color);
}
